{% extends "layout.html" %}


{% block body %}

<div class="container">
	<a class="btn btn-success" href="{{ url_for('new_person') }}">
		Add new person
	</a>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<table class="table table-stripped table-hover">
				<tr>
					<th>First name</th>
					<th>Last name</th>
					<th>Height</th>
					<th>Gender</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>

				{% for p in persons %} 
					<tr>
						<td>{{ p['first_name'] }}</td>
						<td>{{ p['last_name'] }}</td>
						<td>{{ p['height'] }}</td>
						<td>{{ p['gender'] }}</td>
						<!-- Edit button -->
			            <td>
			                <a href="{{ url_for('get_person', id_person=p['id_person']) }}">
			                    <button class="btn-sm btn-primary">
			                        <span class="fa fa-edit"></span>
			                    </button>
			                </a>
			            </td>

			            <td>
							<form method="get" onsubmit="return confirm('Are you sure?')" action="{{ url_for('get_person', id_person=p['id_person']) }}">
								<button class="btn-sm btn-danger">
									<span class="fa fa-trash"></span>
								</button>
							</form>	            	
			            </td>
					</tr>
				{% endfor %}
			</table>
		</div>

		<div class="col-md-4">
			<table class="table table-stripped">
				<tr>
					<th>Total count</th>
					<td>53</td>
				</tr>	
				<tr>
					<th>Next meeting</th>
					<td>15.4.2020 10:00</td>
				</tr>
			</table>
		</div>	

	</div>
</div>
{% endblock body %}